<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.example.Project_001_Cucumber_TestNG_Demo_focused_on_knife_and_other_stuff_2026_002_006.AppTest"/>
      <class name="com.example.definitions.AmazonPageDefinitions"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
